$font-color: red;
$font-color-second: blue;
$font-color-third: green;

$table-header-color: #b39ddb;
$green-pastel: #b9e881;
$yellow-pastel: #fff9b3;
$red-pastel: #ff9999;

$background-button: #8ac6d1;
$background-button-hover: #468bb9;
