$font-color: red;
$font-color-second: blue;
$font-color-third: green;

$table-border-color: #dddddd;
$table-header-color: rgb(255, 150, 111);
$table-even-row-color: #f2f2f2;

$background-button: #58b4f1;
$background-button-hover: #468bb9;
